<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <!-- 동적 타이틀 설정 (페이지 제목이 있으면 표시, 없으면 기본 사이트 정보 출력) -->
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name | default: "흑석동퀵서비스" }}{% if site.description %} – {{ site.description }}{% endif %}</title>

  <!-- 공통 메타 태그 모듈화 -->
  {% include meta.html %}

  <!-- 구형 IE 호환성 스크립트 -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="canonical" href="https://1588-0170.com/흑석동퀵서비스/">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/file/aplusquick.css?v=1.5" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <!-- OpenGraph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="흑석동퀵서비스 24시퀵">
  <meta property="og:description" content="흑석동 서울·경기 전지역 24시 퀵서비스 우수,전문업체">
  <meta property="og:url" content="https://1588-0170.com/흑석동퀵서비스/">
  <meta property="og:image" content="{{ site.baseurl }}/images/og_image.webp">

  <!-- Local Business Schema -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CourierService",
    "name": "에이플러스 흑석동퀵서비스",
    "url": "https://1588-0170.com/흑석동퀵서비스/",
    "telephone": "1661-4262",
    "areaServed": {
      "@type": "AdministrativeArea",
      "name": "흑석동·서울·경기 전지역"
    },
    "openingHours": "Mo-Su 00:00-24:00",
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "KR",
      "addressLocality": "흑석동"
    }
  }
  </script>
</head>
